#game #game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;

    &.x .game-cell:not(.x):not(.o):hover {
        background-image: url('/icon-x-outline.svg');
        background-size: 64px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.o .game-cell:not(.x):not(.o):hover {
        background-image: url('/icon-o-outline.svg');
        background-size: 64px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .game-cell {
        width: 100%;
        aspect-ratio: 1/1;
        max-width: 140px;
        max-height: 140px;
        -webkit-box-shadow: inset 0px -4px 0px 0px #10212A;
        box-shadow: inset 0px -4px 0px 0px #10212A;
        background-color: $semi-dark-navy;
        border-radius: 15px;
        cursor: pointer;
        padding: 38px;

        svg {
            display: block;
        }

        &.x svg {
            fill: $light-blue;
        }

        &.o svg {
            fill: $light-yellow;
        }

        &.win-o {
            background-color: $light-yellow;

            svg {
                fill: $semi-dark-navy;
            }
        }

        &.win-x {
            background-color: $light-blue;

            svg {
                fill: $semi-dark-navy;
            }
        }
    }
}