#game #header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;

    >div {
        width: 100%;
    }

    .logo {
        display: block;
    }

    .turn-indicator {
        background-color: $semi-dark-navy;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        -webkit-box-shadow: inset 0px -4px 0px 0px #10212A;
        box-shadow: inset 0px -4px 0px 0px #10212A;
        max-width: 140px;
        height: 52px;

        svg {
            max-width: 20px;
            fill: $silver;
            margin-right: 13px;
        }

        span {
            color: $silver;
            text-transform: uppercase;
        }
    }

    div:nth-child(3) {
        display: flex;
        justify-content: flex-end;
    }

    button {
        border: none;
        padding: 16px;
        background-color: $silver;
        -webkit-box-shadow: inset 0px -4px 0px 0px rgba(#000000, 0.25);
        box-shadow: inset 0px -4px 0px 0px rgba(#000000, 0.25);
        border-radius: 10px;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
            background-color: $silver-hover;
        }

        img {
            display: block;
        }
    }
}